.intro {
	overflow: hidden;
	padding-top: 182px;
	position: relative;
}
.intro-desc {
	display: flex;
	flex-direction: column;
}
.intro-desc__left-side {
	order: 2;
	position: relative;
	padding-left: 16px;
}
.intro__heading {
	color: var(--orange);
	text-transform: uppercase;
	font-size: 8.5rem;
	font-weight: bold;
	font-style: italic;
}
.hani-border {
	font-weight: inherit;
	color: white;
	text-shadow: 
		-1px -1px 0px var(--orange),
		1px -1px 0px var(--orange),
		-1px 1px 0px var(--orange),
		1px 1px 0px var(--orange);
	margin-left: -14px;
}
.intro__subheading {
	font-weight: 300;
	font-style: italic;
	font-size: 3.8rem;
	margin-top: 10px;
}
.intro__text {
	margin: 35px 0;
	line-height: 1.6;
}
.intro__buttons-container .btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.intro .btn--ghost {
	margin-top: 16px;
}
.intro-desc__right-side {
	order: 1;
	flex-grow: 1;
	position: relative;
	top: -50px;
	z-index: -1;
}
.intro-image-container {
	margin-left: auto;
}
.intro-handyman {
	background-color: rgba(239, 121, 12, 0.08);
	width: 100%;
	max-width: 811px;
	margin: 70px auto 95px;
	border-radius: 5px;
	padding: 30px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.intro-handyman__left-side {
	width: 100%;
}
.intro-handyman__heading {
	font-size: 2rem;
	margin-bottom: 16px;
}
.intro-handyman__options {
	display: flex;
	flex-direction: column;
}
.intro-handyman__option-item {
	flex-grow: 1;
	padding-bottom: 12px;
	margin-bottom: 24px;
	border-bottom: 1px solid #486284;
}
.intro-handyman__option-heading {
	margin-top: 4px;
}
.intro-handyman__option-text {
	font-size: 1.2rem;
	margin-top: 16px;
}
.intro-handyman__right-side {
	margin-top: 32px;
}
.intro-handyman__btn img {
	margin-right: 8px;
	position: relative;
	top: 3px;
}
.intro__radial-1 {
	top: -300px;
	right: -300px;
}
.intro__radial-2 {
	top: 50%;
	left: -700px;
	transform: translateY(-50%);
}

@media screen and (min-width: 900px) {
	.intro-desc {
		max-width: 1174px;
		margin: 0 auto;
		flex-direction: row;
		justify-content: space-between;
	}
	.intro-desc__left-side {
		order: 1;
		max-width: 534px;
	}
	.intro__buttons-container .btn {
		display: inline-block;
		margin-left: 0;
		margin-right: 0;
	}
	.intro .btn--ghost {
		margin-top: 0;
		margin-left: 30px;
	}
	.intro-desc__right-side {
		order: 2;
		top: 0px;
		z-index: 1;
	}
	.intro-handyman {
		padding: 30px 50px;
		align-items: center;
		flex-direction: row;
	}
	.intro-handyman__options {
		flex-direction: row;
	}
	.intro-handyman__option-item {
		--pad: 12px;

		border-right: 1px solid #486284;
		padding-bottom: 0;
		margin-bottom: 0;
		border-bottom: none;
	}
	.intro-handyman__option-item:last-child {
		border: none;
	}
	.intro-handyman__option-item:last-child {
		border: none;
	}
	.intro-handyman__option-item:nth-child(1) {
		padding-right: var(--pad);
	}
	.intro-handyman__option-item:nth-child(2) {
		padding-right: var(--pad);
		padding-left: var(--pad);
	}
	.intro-handyman__option-item:nth-child(3) {
		padding-left: var(--pad);
	}
	.intro-handyman__right-side {
		flex-shrink: 0;
		margin-top: 0;
		margin-left: auto;
	}
	.intro-handyman__option-item {
		--pad: 24px;
		flex-grow: 0;
	}
}