.register__text {
    line-height: 150%;
    max-width: 529px;
    margin: 0 auto 65px;
}
.register-form {
    max-width: 529px;
    margin: 0 auto;
}
.register-form__label {
    color: #666;
    display: block;
    margin-bottom: 8px;
}
.register-form__flexbox {
    display: flex;
    flex-direction: column;
}
.register-form__input {
    flex-grow: 1;
    margin-bottom: 24px;
}
@media screen and (min-width: 900px) {
    .register-form__flexbox {
        flex-direction: row;
    }
    .register-form__input {
        margin-bottom: 0;
        margin-right: 30px;
    }
}